name: ios

on:
  push:
    branches:
      - test-v1.23.2-2
  workflow_dispatch:
    inputs:
      version:
        description: "Version information (e.g., 1.23.2)"
        required: true

permissions:
  contents: write

env:
  ONNXRUNTIME_VERSION:
    |- # Enter release tag name or version name in workflow_dispatch. Appropriate version if not specified
    ${{ github.event.release.tag_name || github.event.inputs.version || '1.23.2' }}

jobs:
  ios:
    name: ios-${{ matrix.link_type }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
        link_type: ["shared", "static"]

    steps:
      - name: Cache build result for ${{ env.ONNXRUNTIME_VERSION }}
        id: cache-build-result
        uses: actions/cache@v4
        with:
          path: onnxruntime-ios-${{ matrix.link_type }}-${{ env.ONNXRUNTIME_VERSION }}
          key: onnxruntime-ios-${{ matrix.link_type }}-${{ env.ONNXRUNTIME_VERSION }}-cache-v1

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ matrix.os }}-ios-${{ matrix.link_type }}

      - name: Checkout v${{ env.ONNXRUNTIME_VERSION }}
        if: steps.cache-build-result.outputs.cache-hit != 'true'
        uses: actions/checkout@v4
        with:
          repository: microsoft/onnxruntime
          submodules: true
          ref: v${{ env.ONNXRUNTIME_VERSION }}

      - name: Install dependencies on macos
        if: steps.cache-build-result.outputs.cache-hit != 'true'
        shell: bash
        run: |
          brew install ninja
          which cmake
          cmake --version
          brew install tree
          tree --version

          brew install jq
          which jq

      - name: Patch 1
        if: steps.cache-build-result.outputs.cache-hit != 'true'
        shell: bash
        run: |
          jq '.build_params.base += ["--cmake_extra_defines=CMAKE_POLICY_VERSION_MINIMUM=3.5"]' \
            tools/ci_build/github/apple/default_full_ios_framework_build_settings.json > output.json

          mv output.json tools/ci_build/github/apple/default_full_ios_framework_build_settings.json

          git diff .

      - name: Patch 2
        if: steps.cache-build-result.outputs.cache-hit != 'true'
        shell: bash
        run: |
          # see https://github.com/microsoft/onnxruntime/pull/26380
          #
          jq '.build_params.base += ["--cmake_extra_defines=FLATBUFFERS_BUILD_FLATC=OFF"]' \
            tools/ci_build/github/apple/default_full_ios_framework_build_settings.json > output.json

          mv output.json tools/ci_build/github/apple/default_full_ios_framework_build_settings.json

          git diff .

      # - name: Patch 3
      #   if: steps.cache-build-result.outputs.cache-hit != 'true'
      #   shell: bash
      #   run: |
      #     jq '.build_params.base += ["--cmake_extra_defines=CMAKE_OSX_DEPLOYMENT_TARGET=16.0"]' \
      #       tools/ci_build/github/apple/default_full_ios_framework_build_settings.json > output.json
      #
      #     mv output.json tools/ci_build/github/apple/default_full_ios_framework_build_settings.json
      #
      #     git diff .

      - name: Patch 4
        if: steps.cache-build-result.outputs.cache-hit != 'true'
        shell: bash
        run: |
          # jq '
          #     del(.build_osx_archs.macabi)
          #     | .build_osx_archs.iphonesimulator -= ["x86_64"]
          #   ' tools/ci_build/github/apple/default_full_ios_framework_build_settings.json \
          #   > tmp.json && mv tmp.json \
          #   tools/ci_build/github/apple/default_full_ios_framework_build_settings.json

          jq '
              del(.build_osx_archs.macabi)
            ' tools/ci_build/github/apple/default_full_ios_framework_build_settings.json \
            > tmp.json && mv tmp.json \
            tools/ci_build/github/apple/default_full_ios_framework_build_settings.json

          git diff .

      - name: Build onnxruntime ${{ env.ONNXRUNTIME_VERSION }} for macOS
        if: steps.cache-build-result.outputs.cache-hit != 'true'
        shell: bash
        run: |
          export CMAKE_CXX_COMPILER_LAUNCHER=ccache
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
          cmake --version

          link_type=${{ matrix.link_type }}
          if [[ $link_type == "shared" ]]; then
            opts="--build_dynamic_framework"
          else
            opts=""
          fi

          echo "opts: $opts"

          python3 tools/ci_build/github/apple/build_apple_framework.py \
            --config Release \
            $opts \
            tools/ci_build/github/apple/default_full_ios_framework_build_settings.json

      - name: Setup tmate session
        if: false
        uses: mxschmitt/action-tmate@v3

      - name: Create onnxruntime XCFramework
        shell: bash
        run: |
          set -euo pipefail

          ls -lh build/apple_framework/intermediates/iphone*/Release/Release-*
          tree build/apple_framework/intermediates/iphone*/Release/Release-*

          BUILD_ROOT=build/apple_framework/framework_out
          OUT_DIR=
          OUT_DIR=onnxruntime-ios-${{ matrix.link_type }}-xcframework-${{ env.ONNXRUNTIME_VERSION }}
          mkdir -p $OUT_DIR
          mv -v $BUILD_ROOT/onnxruntime.xcframework $OUT_DIR

          tree $OUT_DIR/

      - name: Zip XCFramework
        run: |
          OUT_DIR=onnxruntime-ios-${{ matrix.link_type }}-xcframework-${{ env.ONNXRUNTIME_VERSION }}

          zip -r ${OUT_DIR}.zip $OUT_DIR

      - name: Upload artifact xcframework
        if: steps.cache-build-result.outputs.cache-hit != 'true'
        uses: actions/upload-artifact@v4
        with:
          name: onnxruntime-ios-${{ matrix.link_type }}-xcframework-${{ env.ONNXRUNTIME_VERSION }}
          path: onnxruntime-ios-${{ matrix.link_type }}-xcframework-${{ env.ONNXRUNTIME_VERSION }}.zip

      - name: Upload v${{ env.ONNXRUNTIME_VERSION }}
        if: steps.cache-build-result.outputs.cache-hit != 'true'
        uses: svenstaro/upload-release-action@v2
        with:
          file_glob: true
          file: "./*.zip"
          overwrite: true
          tag: v${{ env.ONNXRUNTIME_VERSION }}

      # https://huggingface.co/docs/hub/spaces-github-actions
      - name: Publish to huggingface
        if: github.repository_owner == 'csukuangfj' && steps.cache-build-result.outputs.cache-hit != 'true'
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        uses: nick-fields/retry@v3
        with:
          max_attempts: 20
          timeout_seconds: 200
          shell: bash
          command: |
            rm -rf huggingface

            ls -lh
            version=${{ env.ONNXRUNTIME_VERSION }}

            git config --global user.email "csukuangfj@gmail.com"
            git config --global user.name "Fangjun Kuang"

            export GIT_CLONE_PROTECTION_ACTIVE=false
            rm -rf huggingface
            GIT_LFS_SKIP_SMUDGE=1 git clone https://csukuangfj2:$HF_TOKEN@huggingface.co/csukuangfj2/onnxruntime-libs huggingface

            cd huggingface
            mkdir -p $version
            cp -v ../onnxruntime-ios-${{ matrix.link_type }}.xcframework*.zip ./$version
            git status
            git lfs track "*.zip"

            git add .

            git commit -m "upload onnxruntime-ios-${{ matrix.link_type }}.xcframework $version"
            git push https://csukuangfj2:$HF_TOKEN@huggingface.co/csukuangfj2/onnxruntime-libs main

# ===========static==========
# /Users/runner/work/onnxruntime-libs/onnxruntime-libs/build/apple_framework/intermediates/iphoneos_arm64/Release/Release-iphoneos
# .
# ├── libcoreml_proto.a
# ├── libonnxruntime_common.a
# ├── libonnxruntime_flatbuffers.a
# ├── libonnxruntime_framework.a
# ├── libonnxruntime_graph.a
# ├── libonnxruntime_lora.a
# ├── libonnxruntime_mlas.a
# ├── libonnxruntime_optimizer.a
# ├── libonnxruntime_providers_coreml.a
# ├── libonnxruntime_providers_xnnpack.a
# ├── libonnxruntime_providers.a
# ├── libonnxruntime_session.a
# ├── libonnxruntime_util.a
# ├── onnxruntime_mlas_q4dq.app
# │   ├── Info.plist
# │   ├── onnxruntime_mlas_q4dq
# │   └── PkgInfo
# ├── onnxruntime.framework
# │   ├── Headers
# │   │   ├── coreml_provider_factory.h
# │   │   ├── cpu_provider_factory.h
# │   │   ├── onnxruntime_c_api.h
# │   │   ├── onnxruntime_cxx_api.h
# │   │   ├── onnxruntime_cxx_inline.h
# │   │   ├── onnxruntime_ep_c_api.h
# │   │   ├── onnxruntime_ep_device_ep_metadata_keys.h
# │   │   ├── onnxruntime_float16.h
# │   │   ├── onnxruntime_lite_custom_op.h
# │   │   ├── onnxruntime_run_options_config_keys.h
# │   │   └── onnxruntime_session_options_config_keys.h
# │   ├── Info.plist
# │   └── onnxruntime
# └── static_framework
#     └── onnxruntime.framework
#         ├── Headers
#         │   ├── coreml_provider_factory.h
#         │   ├── cpu_provider_factory.h
#         │   ├── onnxruntime_c_api.h
#         │   ├── onnxruntime_cxx_api.h
#         │   ├── onnxruntime_cxx_inline.h
#         │   ├── onnxruntime_ep_c_api.h
#         │   ├── onnxruntime_ep_device_ep_metadata_keys.h
#         │   ├── onnxruntime_float16.h
#         │   ├── onnxruntime_lite_custom_op.h
#         │   ├── onnxruntime_run_options_config_keys.h
#         │   └── onnxruntime_session_options_config_keys.h
#         ├── Info.plist
#         └── onnxruntime
#
# 7 directories, 42 files
#
# bash-3.2$ file static_framework/onnxruntime.framework/onnxruntime
# static_framework/onnxruntime.framework/onnxruntime: current ar archive random library
# bash-3.2$ ls -lh static_framework/onnxruntime.framework/onnxruntime
# -rw-r--r--  1 runner  staff    37M Jan 14 07:03 static_framework/onnxruntime.framework/onnxruntime
#
# bash-3.2$ file onnxruntime.framework/onnxruntime
# onnxruntime.framework/onnxruntime: Mach-O 64-bit dynamically linked shared library arm64
# bash-3.2$ ls -lh onnxruntime.framework/onnxruntime
# -rwxr-xr-x  1 runner  staff    24M Jan 14 07:03 onnxruntime.framework/onnxruntime
#
#
# ===========shared==========
#
#
# bash-3.2$ pwd
# /Users/runner/work/onnxruntime-libs/onnxruntime-libs/build/apple_framework
# bash-3.2$ ls
# framework_out           intermediates           xcframework_info.json
# /Users/runner/work/onnxruntime-libs/onnxruntime-libs/build/apple_framework/framework_out/onnxruntime.xcframework
# bash-3.2$ pwd
# /Users/runner/work/onnxruntime-libs/onnxruntime-libs/build/apple_framework/framework_out/onnxruntime.xcframework
# bash-3.2$ ls -lh
# total 8
# -rw-r--r--  1 runner  staff   1.1K Jan 14 07:31 Info.plist
# drwxr-xr-x  3 runner  staff    96B Jan 14 07:31 ios-arm64
# drwxr-xr-x  3 runner  staff    96B Jan 14 07:31 ios-arm64-simulator
# bash-3.2$ ls -lh ios-arm64/onnxruntime.framework/
# total 50104
# drwxr-xr-x  13 runner  staff   416B Jan 14 07:13 Headers
# -rw-r--r--   1 runner  staff   670B Jan 14 07:13 Info.plist
# -rwxr-xr-x   1 runner  staff    24M Jan 14 07:13 onnxruntime
# bash-3.2$ file ios-arm64/onnxruntime.framework/onnxruntime
# ios-arm64/onnxruntime.framework/onnxruntime: Mach-O universal binary with 1 architecture: [arm64:Mach-O 64-bit dynamically linked shared library arm64]
# ios-arm64/onnxruntime.framework/onnxruntime (for architecture arm64):   Mach-O 64-bit dynamically linked shared library arm64
# bash-3.2$ ls -lh ios-arm64-simulator/onnxruntime.framework/
# total 50040
# drwxr-xr-x  13 runner  staff   416B Jan 14 07:31 Headers
# -rw-r--r--   1 runner  staff   670B Jan 14 07:31 Info.plist
# -rwxr-xr-x   1 runner  staff    24M Jan 14 07:31 onnxruntime
# bash-3.2$ file  ios-arm64-simulator/onnxruntime.framework/onnxruntime
# ios-arm64-simulator/onnxruntime.framework/onnxruntime: Mach-O universal binary with 1 architecture: [arm64:Mach-O 64-bit dynamically linked shared library arm64]
# ios-arm64-simulator/onnxruntime.framework/onnxruntime (for architecture arm64): Mach-O 64-bit dynamically linked shared library arm64
#
# bash-3.2$ rm -rf iphoneos_arm64/Release/_deps/
# bash-3.2$ rm -rf iphoneos_arm64/Release/build
# bash-3.2$ cd iphoneos_arm64/
# bash-3.2$ pwd
# /Users/runner/work/onnxruntime-libs/onnxruntime-libs/build/apple_framework/intermediates/iphoneos_arm64
#  rm -rf static_libraries/temp
